<br>
<h1>All committees</h1>

<label for="search">Search:</label>
<input type="search" name="search" id="search" onkeyup="sendData(this)">
<table>
    <tr>
        <th>Column</th>
        <th>Value</th>
    </tr>
    <% 
    for (committee of committees){
        if(!committee.memberRole){
        %>
        <tr>
            <td><%= committee.committeeName%></td>
            <td> <a href="/committees/<%= committee.committeeSlug %>/"><%= committee.committeeSlug %></a></td>
        </tr>
    <% }}%> 
</table>
<br>
<br>
<%#<script src="js/searchengine.js"></script>%>
