<br>
<h1>Register</h1>
<form action="/committees/new" method="post">
    <fieldset>
        <label for="committeeName">Committee name</label>
        <input type="text" name="committeeName" id="committeeName" value="committee">
    </fieldset>
    <fieldset>
        <label for="committeeParent">Committee parent</label>
        <input type="text" name="committeeParent" id="committeeParent" value="">
    </fieldset>
    <fieldset>
        <label for="committeeType">Committee type</label>
        <input type="text" name="committeeType" id="committeeType" value="committee">
    </fieldset>
    <fieldset>
        <label for="startDate">Start date</label>
        <input type="date" name="startDate" id="startDate">
    </fieldset>
    <fieldset>
        <label for="endDate">End date</label>
        <input type="date" name="endDate" id="endDate">
    </fieldset>
    <button type="submit">add committee</button>
</form>
<br>
