<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caisar</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>   
    <a href="/">page /</a><br>
    <a href="/ls">page /ls</a><br>
    <a href="/ls/login">page /ls/login</a><br>
    <a href="/ls/register">page /ls/register</a><br>
    <a href="/users">page /users</a><br>
    <a href="/users/useruser/">page /users/useruser</a><br>
    <a href="/users/useruser/edit">page /users/useruser/edit</a><br>
    <a href="/committees">page /committees</a><br>
    <a href="/committees/new">page /committees/new</a><br>
    <a href="/calendar/">page /calendar</a><br>
    <br>
    <% if(messages.error) {%>
        <h1><%= messages.error%></h1>
    <%}%> 
    <br>
    <%- body%> 
    <br>
    After
</body>
</html>