<br>
<h1>Register</h1>
<form action="/calendar/new" method="post">
    <fieldset>
        <label for="itemTitle">item title</label>
        <input type="text" name="itemTitle" id="itemTitle" value="Title">
    </fieldset>
    <fieldset>
        <label for="itemDescription">item description</label>
        <input type="text" name="itemDescription" id="itemDescription" value="description">
    </fieldset>
    <fieldset>
        <label for="itemMarkdown">item markdown</label>
        <input type="text" name="itemMarkdown" id="itemMarkdown" value="some markdown">
    </fieldset>
    <fieldset>
        <label for="startDate">Start date</label>
        <input type="date" name="startDate" id="startDate">
    </fieldset>
    <fieldset>
        <label for="startTime">Start time</label>
        <input type="time" name="startTime" id="startTime">
    </fieldset>
    <fieldset>
        <label for="endDate">End date</label>
        <input type="date" name="endDate" id="endDate">
    </fieldset>
    <fieldset>
        <label for="endTime">End time</label>
        <input type="time" name="endTime" id="endTime">
    </fieldset>
    <fieldset>
        <label for="signupDate">End date</label>
        <input type="date" name="signupDate" id="signupDate">
    </fieldset>
    <fieldset>
        <label for="signoutDate">End date</label>
        <input type="date" name="signoutDate" id="signoutDate">
    </fieldset>
    <button type="submit">add calendar item</button>
</form>
<br>
