<br>
<h1>Login</h1>
<form action="/ls/login" method="post">
    <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="user@user.com" required>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="user" required>
    </fieldset>
    <button type="submit">Login</button>
</form>
<a href="/ls/register">Register</a>
<br>