<br>
<h1>User overview</h1>
<table>
    <tr>
        <th>Column</th>
        <th>Value</th>
    </tr>
    <% 
    let notShow = ["password","userId","createdAt", "websiteRole"]
    for (let prop in user) {
        if(!notShow.includes(String(prop))){
        %>
        <tr>
            <td><%= prop %></td>
            <td><%= user[prop] %></td>
        </tr>
    <% } } %> 
</table>
<br>
<a href="/users/<%= user.slugURL%>/edit">edit</a>
<br>
