<br>
<a href="/news/new"> add Item</a>

<h1>News items</h1>
<% calendarItems.forEach(item => {%>
<section>
<a href="/news/<%=item.calendarSlug%>/"> <h1><%=item.itemTitle%></h1></a>
<p><%=item.itemDescription%></p>
</section>
<% });%> 
<br>
