<br>
<% if (hasPermission) {%>
<a href="/news/new"> add page</a>
<%}%>

<h1>News pages</h1>
<% newsPages.forEach(newsPage => {%>
<section>
<a href="/news/<%=newsPage.pageURL%>/"> <h1><%=newsPage.pageTitle%></h1></a>
<p><%=newsPage.pagePreviewMd%></p>
</section>
<% });%> 
<br>
